.text-icon {
    background-color: rgb(55, 118, 255);
    border-radius: 50%;
    font-weight: 500;
    color: white;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }