.content-page{
    overflow: auto;
    display: flex;
    height: 100%;
}

.content-layout{
    width: 100%;
    padding: 40px 30px;
    width: 80%;
    height: max-content;
}

.content-layout::-webkit-scrollbar{
    display: hidden;
}

section {
    margin-bottom: 30px;
    h2{
        /* color: #54D6FF; */
        color: #003e75;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    p{
        /* color: #FFFFFF; */
        font-size: 1.2rem;
    }
    ul{
        list-style-type: none;
        margin-top: 10px;

        li strong, span{
            /* color: white; */
        }
        li strong{
            color: #54D6FF;
            color: #003e75;
        }
        li{
            margin-bottom: 10px;
        }
    }
}

.markdown-container h1 {
    font-size: 2rem;
    color: #2c3e50;
    margin-bottom: 20px;
    border: 2px solid red;
}
  .markdown-container {
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  .markdown-container h1,
  .markdown-container h2,
  .markdown-container h3 {
    color: #333;
  }
  .markdown-container p {
    line-height: 1.6;
    color: #555;
  }
    