.content-page{
    overflow: auto;
    display: flex;
    height: 100%;
}

.content-layout{
    width: 100%;
    padding: 40px 30px;
    width: 80%;
    height: max-content;
}

.content-layout::-webkit-scrollbar{
    display: hidden;
}

section {
    margin-bottom: 30px;
    h2{
        color: #54D6FF;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    p{
        color: #FFFFFF;
        font-size: 1.2rem;
    }
    ul{
        list-style-type: none;
        margin-top: 10px;

        li strong, span{
            color: white;
        }
        li strong{
            color: #54D6FF;
        }
        li{
            margin-bottom: 10px;
        }
    }
}