.info-block{
    border: 1px solid rgb(136, 136, 136);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    font-size: 0.9rem;
    gap: 10px;
    font-weight: 500;
    background-color:  #8bd1ff3f;
}

.info-block-icon{
    font-size: 1.3rem;
}