.docs-side-bar {
  width: 20%;
  font-family: QuickSand;
  padding: 20px 25px;
  overflow-y: auto;
  /* position: fixed; */
  h2 {
    margin-bottom: 5px;
    color: gray;
    text-transform: uppercase;
  }
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 5px;

    a {
      color: gray;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.2rem;
      color: gray;
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 10px 5px;
      cursor: pointer;
    }
    
  }
}

li a.active {
  border-radius: 5px;
  color: #54d6ff;
  background-color: #003e75;
  color: white;
  /* color: #54D6FF; */
  svg path {
    color: white;
  }
}
