.docs-content-container{
    padding: 20px 25px;
    width: 100%;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    min-height: 100%;
}
  
  .container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
  }
  
  h1, h2 {
    color: #2C3E50;
    margin-bottom: 10px;
  }
  
  h3 {
    color: #34495E;
    margin-bottom: 5px;
  }
  
  p {
    margin-bottom: 15px;
  }
  
  ul {
    list-style-type: square;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  
  ul.platform-list {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  code {
    background-color: #eaeaea;
    padding: 2px 6px;
    border-radius: 4px;
  }
  
  .step {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .step h2 {
    margin-top: 10px;
  }
  
  .step ul {
    list-style-type: disc;
  }
  