.Header{
    background-color: #003E75;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;

    img{
        width: 10%;
        cursor: pointer;
    }

    nav{
        display: flex;
        align-items: center;
        gap: 20px;
        p{
            color: #54D6FF;
            text-decoration: none;
            padding: 4px;
            border: 2px solid transparent;
            font-weight: 500;
            cursor: pointer;
        }
        p:hover{
            border-bottom: 2px solid white;
            color: white;
        }
    }
    button{
        background-color: #54D6FF;
        color: white;
        padding: 10px 25px;
        border: none;
        border-radius: 12px;
        font-weight: 600;
        cursor: pointer;
    }
    button:hover{
        background-color: white;
        color: #54D6FF;
    }
    
    .burger-icon{
        display: none;
    }
}

@media screen and (max-width:480px) {
    .Header{
        /* border: 2px solid red; */
        padding: 5px;

        img{
            width: 35%;
        }
        nav{
            display: none;
        }
        button{
            display: none;
        }
        .burger-icon{
            display: block;
            color: white;
            font-size: 1.7rem;
        }
    }
}