.Technology{
    padding-top: 50px;
    h2{
        text-align: center;
        font-size: 3rem;
        text-transform: uppercase;
        color: #003E75;
    }
    .central-line{
        border: 4px solid #003E75;
        width: 3%;
        margin: auto;
    }

    .key-features{
        /* border: 2px solid red; */
        margin-top: 30px;
        padding: 25px;
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        gap: 40px;
    }
}