.Footer {
    display: flex; /* Flexbox layout for the footer */
    justify-content: space-between; /* Space between left and right sections */
    /* align-items: center; Center content vertically */
    background-color: #003F75; /* Background color of the footer */
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.left-footer{
    width: 100%;
    img{
        width: 30%;
    }
}

.mail-account-container{
    border: 2px solid #54D6FF;
    border-right: none;
    border-left: none;
    margin-top: 20px;
    width: 40%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.location-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    img{
        width: 10%;
    }
    p{
        color: #54D6FF;
        font-size: 1.7rem;
        font-weight: 500;
    }
}

.location-wrapper:last-child{
    /* border: 2px solid red; */
    margin-top: 25px;
    p{
        color: white;
    }
}

.right-footer{
    width: 100%;
    /* border: 2px solid red; */
    padding-left: 50px;
    display: flex;
    justify-content: space-between;

}

.footer-links-wrapper{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    h4{
        color: #54D6FF;
        padding: 5px;
        font-size: 1.8rem;
        padding-left: 0;
        padding-right: 0;
        border-bottom: 2px solid #54D6FF;
    }
    a{
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }
    a:hover{
         text-decoration: underline;
    }
}
.social-media-wrapper{
    h4{
        color: #54D6FF;
        padding: 5px;
        font-size: 1.8rem;
        padding-left: 0;
        padding-right: 0;
        border-bottom: 2px solid #54D6FF;
        margin-bottom: 10px;
    }
    img:first-of-type{
        margin-right: 10px;
    }
    img{
        cursor: pointer;
    }
}

@media screen and (max-width:480px) {
    .Footer{
        flex-direction: column;
        padding: 20px;
    }
    .mail-account-container{
        width: 100%;
    }
    .left-footer {
        img{
            width: 80%;
            margin: auto;
            display: block;
        }
        .location-wrapper {
            img{
                width: 5%;
                margin: 0;
            }
            p{
                font-size: 1rem;
            }
        }
    }
    .right-footer{
        padding: 0;
        margin-top: 50px;

        .footer-links-wrapper h4, .social-media-wrapper h4{
            font-size: 1rem;
        }
        .social-media-wrapper {
            img{
                width: 20%;
            }
        }
    }
    
}

@media screen and (max-width:768px) {
    
    .Footer{
        flex-direction: column;
    }
    
    .left-footer {
        img{
            width: 50%;
        }
    }

    
}