.Truxt{
    padding-top: 30px;
    padding-bottom: 30px;
    background: url("../../assets/truxt/meet_truxt_image.png");
    background-repeat: no-repeat;
    background-position: center center;
    h2{
        text-align: center;
        font-size: 3rem;
        color: white;
    }

    .vision-container{
        /* border: 2px solid red; */
        margin-top: 30px;
        padding: 25px;
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
}

@media screen and (max-width:480px) {
    .vision-container{
        /* flex-direction: column; */
        gap: 0;
        margin: 0;
        }
    
}

@media screen and (max-width:768px) {
    .vision-container{
        flex-direction: column;
        gap: 0;
        margin: 0 !important;
    }
}